.image-container {
    width: 15rem;
    height: 15rem;
    margin-bottom: 1rem;
}

.image-circle {
    margin-left: auto;
    margin-right: auto;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.image-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card {
    background-color: rgb(19, 19, 19, 0) !important;
}

.center {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.card-text {
    font-size: var(--font-size-body);
}

.team-card {
    border-radius: 16px;
}

.team-instagram svg {
    width: 24px !important;
    height: 24px !important;
    color: white !important;
}

.team-facebook svg {
    margin-left: 0;
    width: 24px !important;
    height: 24px !important;
    color: white !important;
}

@media (max-width: 767px) {
    .team-card {
        width: 90% !important;
        max-width: 90% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .team-card .image-circle {
        width: 10rem;
        height: 10rem;
    }

    .team-card .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .team-card .card-title,
    .team-card .card-text {
        text-align: center;
    }
}
